html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
}

#app {
  height: 100%;
}

.lineup-side {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.navbar {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 8%;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(189, 189, 189);
}

.lineup {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 92%;
  background-color: rgb(42, 204, 96);
  display: grid;
  grid-template-columns: 9.09090909% 9.09090909% 9.09090909% 9.09090909% 9.09090909% 9.09090909% 9.09090909% 9.09090909% 9.09090909% 9.09090909% 9.09090909%;
  grid-template-rows: 9.09090909% 9.09090909% 9.09090909% 9.09090909% 9.09090909% 9.09090909% 9.09090909% 9.09090909% 9.09090909% 9.09090909% 9.09090909%;
}

.goalie, .player1, .player2, .player3, .player4, .player5, .player6, .player7, .player8, .player9, .player10 {
    border: solid black;
    border-radius: 1em;
}

/* .player1 {
    grid-column-start: 5;
    grid-row-start: 2;
    grid-column-end: 6;
    grid-row-end: 3;
}

.player2 {
    grid-column-start: 7;
    grid-row-start: 2;
    grid-column-end: 8;
    grid-row-end: 3;
}
.player3 {
    grid-column-start: 2;
    grid-row-start: 5;
    grid-column-end: 3;
    grid-row-end: 6;
}

.player4 {
    grid-column-start: 5;
    grid-row-start: 5;
    grid-column-end: 6;
    grid-row-end: 6;
}
.player5 {
    grid-column-start: 7;
    grid-row-start: 5;
    grid-column-end: 8;
    grid-row-end: 6;
}

.player6 {
    grid-column-start: 10;
    grid-row-start: 5;
    grid-column-end: 11;
    grid-row-end: 6;
}
.player7 {
    grid-column-start: 2;
    grid-row-start: 8;
    grid-column-end: 3;
    grid-row-end: 9;
}

.player8 {
    grid-column-start: 5;
    grid-row-start: 8;
    grid-column-end: 6;
    grid-row-end: 9;
}
.player9 {
    grid-column-start: 7;
    grid-row-start: 8;
    grid-column-end: 8;
    grid-row-end: 9;
}

.player10 {
    grid-column-start: 10;
    grid-row-start: 8;
    grid-column-end: 11;
    grid-row-end: 9;
}
.goalie {
    grid-column-start: 6;
    grid-row-start: 10;
    grid-column-end: 7;
    grid-row-end: 11;
} */

.home {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.team-section {
  background-color: rgb(132, 153, 143);
  width: 20%;
  height: 100%;
}
.team-section h3 {
  text-align: center;
}

.player-list {
  overflow-x: hidden;
  height: 65%;
  overflow-y: auto;
  text-align:justify;
  box-shadow: inset 0px 0px 20px 10px rgba(54, 59, 57, 0.2);
}

.player {
  display: flex;
  flex-direction: row;
  border: solid black;
  border-radius: 1em;
  margin: 0.2em 0.5em;
  background-color: rgba(132, 153, 143);;
}

.player-number {
  font-size: 2em;
}

.player-words {
  margin-left: 2em;
  text-align: center;
}

.player-name {
  font-size: 1.25em;
}

.color-selector {
    display: flex;
    flex-direction: row;

}

.color-selector select {
    margin-top: 10px;
    margin-bottom: 10px;
}

.formation-selector {
  display: flex;
  flex-direction: row;

}

.formation-selector select {
  margin-top: 10px;
  margin-bottom: 10px;
}

form#player-form {
  margin-top: 2em;
  margin-bottom: 2em;
  align-items: center;
  display:flex;
  flex-direction: column;
}
